extends layout

block content
  h1 #{desktop.model}

  div(style='margin-left:20px;margin-top:20px')

    h2 Brand: #{desktop.brand}
    h3 Description: #{desktop.description} 
    h4 Number in Stock: 
        span(class=desktop.numberInStock > 0 ? 'green' : 'red')
            strong #{desktop.numberInStock}
