extends layout

block content
  h1 #{headphone.model}

  div(style='margin-left:20px;margin-top:20px')

    h2 Brand: #{headphone.brand}
    h3 Description: #{headphone.description} 
    h4 Number in Stock: 
        span(class=headphone.numberInStock > 0 ? 'green' : 'red')
            strong #{headphone.numberInStock}
    hr
    p
      a(href=`/catalog/headphone/${headphone._id}/delete`) Delete Headphone
    p 
      a(href=`/catalog/headphone/${headphone._id}/update`) Update Headphone