extends layout

block content
  h1= title

  ul
    each headphone in headphone_list
      li
        a(href=headphone.url)
          strong= headphone.model
          |  (Number in Stock: 
          span(class=headphone.numberInStock > 0 ? 'green' : 'red')
            strong #{headphone.numberInStock}
          | )
    else
      li There are no headphone.
