extends layout

block content
  h1= title
  p Welcome to Inventory Application.

  h1 Dynamic content

  p The inventory has the following record counts:

  ul
    li #[strong Desktop:] !{desktop_count}
    li #[strong Headphone:] !{headphone_count}
    li #[strong Keyboard:] !{keyboard_count}
    li #[strong Laptop:] !{laptop_count}
    li #[strong Mouse:] !{mouse_count}
