extends layout

block content
  h1 #{laptop.model}

  div(style='margin-left:20px;margin-top:20px')

    h2 Brand: #{laptop.brand}
    h3 Description: #{laptop.description} 
    h4 Number in Stock: 
        span(class=laptop.numberInStock > 0 ? 'green' : 'red')
            strong #{laptop.numberInStock}
