extends layout

block content
  h1 #{mouse.model}

  div(style='margin-left:20px;margin-top:20px')

    h2 Brand: #{mouse.brand}
    h3 Description: #{mouse.description} 
    h4 Number in Stock: 
        span(class=mouse.numberInStock > 0 ? 'green' : 'red')
            strong #{mouse.numberInStock}
    h4 Price: 
      span(style='color: green') $#{mouse.price}
    hr
    p
      a(href=`/catalog/mouse/${mouse._id}/delete`) Delete Mouse
    p 
      a(href=`/catalog/mouse/${mouse._id}/update`) Update Mouse
